@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TextGit</h1>
    <p class="lead">TextGit is a simple ASP.NET based document versioning tool</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<asp:ListView runat="server" ID="DocumentsList">
    <LayoutTemplate>
        <table runat="server" id=" table1">
            <tr runat="server" id="itemPlaceholder"></tr>
        </table>
        <asp:DataPager runat="server" ID="DataPager" PageSize="5">
            <Fields>
                <asp:NumericPagerField ButtonCount="10"
                                       PreviousPageText="<--"
                                       NextPageText="-->" />
            </Fields>
        </asp:DataPager>
    </LayoutTemplate>
    <ItemTemplate>
        <tr runat="server">
            <asp:Label ID="NameLabel" runat="server"
                       Text='<%#Eval("Name") %>' />
            <%-- Data-bound content. --%>
        </tr>
    </ItemTemplate>
</asp:ListView>
<asp:DataPager runat="server" ID="DataPager" PageSize="10">
    <Fields>
        <asp:NumericPagerField ButtonCount="10"
                               CurrentPageLabelCssClass="CurrentPage"
                               NumericButtonCssClass="PageNumbers"
                               NextPreviousButtonCssClass="PageNumbers" NextPageText=" > "
                               PreviousPageText=" < " />
    </Fields>
</asp:DataPager>